In [17]:
print("hello world")

hello world

In [18]:
import numpy as np
import pandas as pd

In [19]:
data = pd.read_csv('combined_lemm_stop.csv')
data.head()

,folder,filename,content
0,part1,1001003legit621.txt,Subject: 6991 148 169 77 13170 154\n\n20727 16...
1,part1,1001612legit316.txt,Subject: 4799 79 12104 2098 67 12672 69\n\n77 ...
2,part1,1001753legit153.txt,Subject: 8637\n\n257 6936 21010 7392 80 1564 1...
3,part1,1002179spmsgc20.txt,Subject: 14879 59 59 77 20859 1641 7536 77 206...
4,part1,1002362legit156.txt,Subject: 18169 9830\n\n1588 13046 13046 112 25...

In [20]:
data.content[0]

'Subject: 6991 148 169 77 13170 154\n\n20727 16908 1493 4776 10193 79\n'

In [24]:
print(data.content.str.split('\n')[0])

['Subject: 6991 148 169 77 13170 154', '', '20727 16908 1493 4776 10193 79', '']

In [27]:
s = data.content.str.split('\n').apply(pd.Series)
data['subject'] = s[0]
data['msg'] = s[2]
data.head()

,folder,filename,content,subject,msg
0,part1,1001003legit621.txt,Subject: 6991 148 169 77 13170 154\n\n20727 16...,Subject: 6991 148 169 77 13170 154,20727 16908 1493 4776 10193 79
1,part1,1001612legit316.txt,Subject: 4799 79 12104 2098 67 12672 69\n\n77 ...,Subject: 4799 79 12104 2098 67 12672 69,77 77 77 77 77 77 77 77 77 77 2077 6721 77 77 ...
2,part1,1001753legit153.txt,Subject: 8637\n\n257 6936 21010 7392 80 1564 1...,Subject: 8637,257 6936 21010 7392 80 1564 14924 67 8475 1114...
3,part1,1002179spmsgc20.txt,Subject: 14879 59 59 77 20859 1641 7536 77 206...,Subject: 14879 59 59 77 20859 1641 7536 77 206...,1641 47 47 50 207 169 169 190 14871 190 210 19...
4,part1,1002362legit156.txt,Subject: 18169 9830\n\n1588 13046 13046 112 25...,Subject: 18169 9830,1588 13046 13046 112 257 21353 76 12996 47 204...

In [45]:
data.label = [0 if 'legit' in file else 1 for file in data.filename]
data.head()

,folder,filename,content,subject,msg,label
0,part1,1001003legit621.txt,Subject: 6991 148 169 77 13170 154\n\n20727 16...,Subject: 6991 148 169 77 13170 154,20727 16908 1493 4776 10193 79,0
1,part1,1001612legit316.txt,Subject: 4799 79 12104 2098 67 12672 69\n\n77 ...,Subject: 4799 79 12104 2098 67 12672 69,77 77 77 77 77 77 77 77 77 77 2077 6721 77 77 ...,0
2,part1,1001753legit153.txt,Subject: 8637\n\n257 6936 21010 7392 80 1564 1...,Subject: 8637,257 6936 21010 7392 80 1564 14924 67 8475 1114...,0
3,part1,1002179spmsgc20.txt,Subject: 14879 59 59 77 20859 1641 7536 77 206...,Subject: 14879 59 59 77 20859 1641 7536 77 206...,1641 47 47 50 207 169 169 190 14871 190 210 19...,1
4,part1,1002362legit156.txt,Subject: 18169 9830\n\n1588 13046 13046 112 25...,Subject: 18169 9830,1588 13046 13046 112 257 21353 76 12996 47 204...,0

In [46]:
data.subject = data.subject.str.replace('Subject: ', '')
data.head()

,folder,filename,content,subject,msg,label
0,part1,1001003legit621.txt,Subject: 6991 148 169 77 13170 154\n\n20727 16...,6991 148 169 77 13170 154,20727 16908 1493 4776 10193 79,0
1,part1,1001612legit316.txt,Subject: 4799 79 12104 2098 67 12672 69\n\n77 ...,4799 79 12104 2098 67 12672 69,77 77 77 77 77 77 77 77 77 77 2077 6721 77 77 ...,0
2,part1,1001753legit153.txt,Subject: 8637\n\n257 6936 21010 7392 80 1564 1...,8637,257 6936 21010 7392 80 1564 14924 67 8475 1114...,0
3,part1,1002179spmsgc20.txt,Subject: 14879 59 59 77 20859 1641 7536 77 206...,14879 59 59 77 20859 1641 7536 77 20674 4334 4...,1641 47 47 50 207 169 169 190 14871 190 210 19...,1
4,part1,1002362legit156.txt,Subject: 18169 9830\n\n1588 13046 13046 112 25...,18169 9830,1588 13046 13046 112 257 21353 76 12996 47 204...,0

In [ ]:
data.drop(columns=['folder', 'filename', 'content'], inplace=True)

In [ ]:
data['combined'] = data.subject + ' ' + data.msg

In [51]:
data.head()

,subject,msg,label,combined
0,6991 148 169 77 13170 154,20727 16908 1493 4776 10193 79,0,6991 148 169 77 13170 154 20727 16908 1493 477...
1,4799 79 12104 2098 67 12672 69,77 77 77 77 77 77 77 77 77 77 2077 6721 77 77 ...,0,4799 79 12104 2098 67 12672 69 77 77 77 77 77 ...
2,8637,257 6936 21010 7392 80 1564 14924 67 8475 1114...,0,8637 257 6936 21010 7392 80 1564 14924 67 8475...
3,14879 59 59 77 20859 1641 7536 77 20674 4334 4...,1641 47 47 50 207 169 169 190 14871 190 210 19...,1,14879 59 59 77 20859 1641 7536 77 20674 4334 4...
4,18169 9830,1588 13046 13046 112 257 21353 76 12996 47 204...,0,18169 9830 1588 13046 13046 112 257 21353 76 1...

In [59]:
from sklearn.feature_selection import mutual_info_classif, SelectKBest
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer()
data.combined=cv.fit_transform(data.combined)

AttributeError: 'csr_matrix' object has no attribute 'lower'

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1099 entries, 0 to 1098
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   subject   1099 non-null   object
 1   msg       1099 non-null   object
 2   label     1099 non-null   int64
 3   combined  1099 non-null   object
dtypes: int64(1), object(3)
memory usage: 34.5+ KB